<!DOCTYPE html>
<html>
<head>
  <title>Boxdousoukai</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=320px; user-scalable=no">
<script>
$(function(){
  $('#form_open').click(function(){
    $('#form_tag').toggle();
  })
})
</script>

</head>
<body>

<%= yield %>

</body>
</html>
